<div class="jumbotron" >
  <h1 class="display-4">    {{article.title}}
     <span *ngIf="article.status=='APPROVED'" class="badge badge-success article-status">{{article.status}}</span>
     <span *ngIf="article.status=='CREATED'" class="badge badge-warning article-status">{{article.status}}</span>
     <span *ngIf="article.status=='PENDING'" class="badge badge-secondary article-status">{{article.status}}</span>
     <span *ngIf="article.status=='REJECTED'" class="badge badge-danger article-status">{{article.status}}</span>
    </h1>
    <p class="posting-date">Date posted: {{article.postDate}}</p>
    <p class="article-body">{{article.body}}</p>
  <hr class="my-4">
  <div class="row">
    <p class="col-md-6">     
        <span style="float: left;">Comments</span>
    </p>
  </div> 
  <table class="table table-hover">      
      <tbody>
        <tr *ngFor="let comment of comments" >                    
            <td *ngIf="!comment.parent.id">{{ comment.comment }}</td>
            <td *ngIf="!comment.parent.id">By: <em>{{ comment.author.name }}</em></td>          
        </tr>
      </tbody>
    </table>
  <div class="row">
      <div [hidden]="!failed" class="alert alert-danger" role="alert">
          
      </div>
      <div [hidden]="!success" class="alert alert-success" role="alert">
           
      </div>    
    <form (ngSubmit)='onSubmit()'>          
        <div class="form-group">
          <label for="comment">Add a Comment</label>
          <textarea rows="4" cols="50" required [(ngModel)]="comment.comment" class="form-control" name="comment" rows="3"></textarea>
        </div>         
        <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
</div>
