body {
    padding-top: 54px;
    font-family: 'Ubuntu';
}

.bg-dark {
    background-color: #15497d!important;
}

.navbar-expand-lg .navbar-collapse {
    display: contents !important;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
    .navbar-expand-lg .navbar-collapse {
        display: contents !important;
    }
}

.home-page-img{
    height: 450px !important;
}

.article-status{
    float: right;
    font-size: 15px;
    font-weight: normal;
}
.posting-date{
    font-style: italic;
    color: grey;
}

.total-article-count{
    display: inline-block;
    background-color: dodgerblue;
    width: 25px;
    text-align: center;
    color: white;
    border-radius: 14px;
}

.total-unapproved-article-count {
    display: inline-block;
    background-color: #FF0000;
    width: 25px;
    text-align: center;
    color: white;
    border-radius: 14px;
}
