<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">

                <a href="/profile" routerLink="/profile/overview" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-user-circle-o">&nbsp;</i>
                    Profile
                   
                </a>
                <a href="/profile/my-articles" routerLink="/profile/my-articles" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-edit">&nbsp;</i>
                    My Articles</a>
                <a href="/profile/article/new" routerLink="/profile/article/new" routerLinkActive="active" class="list-group-item list-group-item-action">
                    <i class="fa fa-address-card-o">&nbsp;</i>
                    Add New Article</a>
               
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>